body{
    background-color: blue;
    font-family: cursive, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: black;
}
div.form{
    margin-top: 10%;
    margin-left:40%;
    padding: 20px;
    background-color:white ;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    border : black 15px ridge ;
}